* {
    text-align: justify;
}
body{
    background-color: #E6E6E6;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

html {
    scroll-padding-top: 55px;
}

main{
    margin-top: 55px;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt;
    text-align: right;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    margin-top: 0px;
    margin-bottom: 0px;
}


.container1{
    display: grid;
    grid-template-columns: 15fr 60fr 13fr;
    grid-gap: 20px;



}

.container2{
    display: grid;
    grid-template-columns: 15fr 30fr 30fr 13fr;
    grid-gap: 20px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.container3{
    display: grid;
    grid-template-columns: 15fr 20fr 40fr 13fr;
    grid-gap: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
}

.container4{
    display: grid;
    grid-template-columns: 15fr 20fr 20fr 20fr 13fr;
    grid-gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
}

.container5{
    display: grid;
    grid-template-columns: 15fr 40fr 20fr 13fr;
    grid-gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

figcaption{
    font-family: 'Roboto', sans-serif;
    font-size: 8.5pt;
    padding-top: 5px;
    height: 10px;
}

figcaption > br{
    line-height: 0px;
}

.photo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.highlight{
    background-color: #D7CAD8;
}

#logo{
    height: 26.5px;
    vertical-align: text-bottom;
}


li {

    float: left;
    display: block;
    font-size: 16pt;
    font-family: 'Roboto Condensed', sans-serif;

}
ul {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 15fr 60fr 13fr;
    grid-gap: 10px;
    background-color: #E6E6E6;
    padding-left: 10px;
    padding-right: 70px;
    z-index:999;

}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


a {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 0;
    opacity: 0.4;
    text-decoration: none;
}


li:last-child{
    text-align: right;
    right-margin: 5px;
}

li a:hover {
    text-decoration: none;
    opacity: 1;
    color: black;
}

.active {
    color: black;
}

#language > a{
    opacity: 1;
}


#p1 {
    color: #93278F;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
}


.container_line{
    display: grid;
    grid-template-columns: 15fr 60fr 13fr;
    grid-gap: 14px;
    height: 25px;

}

hr{
    border: 0.5px solid dimgray;
    background-color: dimgray;
}

.icon{
    display: none;
}

#HüzünlüTextInput{
    height: 300px;
    width: 100%;
    background-color: whitesmoke;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: whitesmoke;
    border-right-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    resize: none;
    outline: none;
    display:block;
    padding: 15px;
}
#HüzünlüText{
    height: 100%;
    width: 100%;
}

#formh{
    height: 100%;
    width: 100%;
}

.form-group{
    position: relative;
    display:inline-block;
    height: 100%;
    width: 100%;
}

#generate-text{
    background-color: white;
    border-radius: 50%;
    color: mediumvioletred;
    border-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    position: absolute;
    bottom:15px;
    right:15px;
}

#contribute{
    height: 180px;
    width: 100%;
    background-color: whitesmoke;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: whitesmoke;
    border-right-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    resize: none;
    outline: none;
    display:block;
    padding: 15px;
}

#save-text{
    background-color: white;
    border-radius: 50%;
    color: mediumvioletred;
    border-color: white;
    width: 40px;
    height: 40px;
    font-size: 11pt;
    justify-content: center;
    padding-top: 7px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    position: absolute;
    bottom:15px;
    right:15px;
}

#email-text {
    width: 100%;
    border-width: 0.001px;
    background-color: whitesmoke;
    border-top-color: black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-family: 'Roboto', sans-serif;
    resize: none;
    outline: none;
    display: block;
    padding-left: 15px;
}

#contact-text {
    height: 140px;
    width: 100%;
    background-color: whitesmoke;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: whitesmoke;
    border-right-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    resize: none;
    outline: none;
    display: block;
    padding: 15px;
}

#send-email{
    background-color: white;
    border-radius: 50%;
    color: mediumvioletred;
    border-color: white;
    width: 40px;
    height: 40px;
    font-size: 11pt;
    justify-content: center;
    padding-top: 7px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    position: absolute;
    bottom:15px;
    right:15px;
}

.col-md-3{
    display: inline-block;
    margin-left:-4px;
}
.col-md-3 img{
    width:100%;
    height:auto;
}
/*body .carousel-indicators li{
    background-color:red;
}
body .carousel-indicators{
    bottom: 0;
}*/
#slider-next,
#slider-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    font-size: 9pt;
    width: 30px;
    height: 30px;
    color: mediumvioletred;
    border-color: white;

}
body .no-padding{
    padding-left: 0;
    padding-right: 0;
}

/*#first-carousel{
    display: grid;
    grid-template-columns: 20fr 20fr;
    grid-gap: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#second-carousel{
    display: grid;
    grid-template-columns: 20fr 20fr;
    grid-gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}*/

.double-slide{
    flex-basis: 48%;
    padding-bottom: 10px;
}

.double-slide-container.active{
    display: flex;
    justify-content: space-between;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container1 {grid-template-columns: 1fr;}
    .container2 {grid-template-columns: 1fr;}
    .container3 {grid-template-columns: 1fr;}
    .container4 {grid-template-columns: 1fr;}
    h2{
        text-align: center;
        margin-top: 10px;
    }
    .container_line { grid-template-columns: 1fr;
    }

    a:not(:first-child) {display: none;}
    a.icon {
        float: right;
        display: block;
    }

    .flex-container.responsive {position: relative;}
    .flex-container.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .flex-container.responsive a {
        float: none;
        display: block;
        text-align: left;
    }





}